| Hi! Your account has been verified! 
| Please log in and choose your prefered dining option and upload your covid vaccine card here: #{loginUrl}
| 
| Thanks,
| Jen and Mike
| Unsubscribe here: #{unsubscribeUrl}
