<div id="login">
  <div class="container">
    <div class="content">
      <div class="ui segment">

        <div class="logo">
          <img src="../../stylesheets/images/ohBaby.jpg">
        </div>

        <div class="ui divider"></div>

        <div class="ui small error message" ng-show="error">
          {{error}}
        </div>

        <div ng-show="loginState === 'login'">
          <div class="ui login-password form">
            <form ng-submit="login()">
              <div class="field">
                <label> Email</label>
                <input type="email" id='email' placeholder="foo@bar.edu" ng-model="email">
              </div>
              <div class="field">
                <label> Password</label>
                <input type="password" id='password' placeholder="Password (at least 6 characters)" ng-model="password"
                  required>
              </div>
              <div class="field">
                <button id="login-password" type="submit" class="fluid ui login button pa11y-click-login">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>

        <div ng-show="loginState === 'register'">
          <div class="ui register form">
            <form ng-submit="register()">
              <div class="field">

                <div class="nameInput">
                  <label class="label">First Name</label>
                  <input type="text" id="firstName" ng-model="firstName" required>
                </div>

                <div class="nameInput">
                  <label class="label">Last Name</label>
                  <input type="text" id="lastName" ng-model="lastName" required>
                </div>

                <label> Email</label>
                <input type="email" id='email' placeholder="foo@bar.edu" ng-model="email" required>

                <label> Password</label>
                <input type="password" id='password' placeholder="Password (at least 6 characters)" ng-model="password"
                  required>
                <label>Event Code</label>
                <input type="text" id="evntCode" ng-model="evntCode" required>

                <br>
                <br>
                <div>
                  <div class="addGuestName" data-ng-repeat="guest in guests">
                    <br>
                    <div class="nameInput">
                      <label class="label">First Name</label>
                      <input type="text" ng-model="guest.firstName">
                    </div>

                    <div class="nameInput">
                      <label class="label">Last Name</label>
                      <input type="text" ng-model="guest.lastName">
                    </div>

                    <button class="removeGuest" ng-click="removeGuest(guest.firstName)">x</button>
                  </div>
                  <div class="addGuestButton">
                    <button type="button" class="addGuest" ng-click="addGuest()">Add Guest +</button>
                  </div>

                </div>
              </div>

              <br>

              <div class="field">
                <button id="register" type="submit" class="fluid ui register button pa11y-click-login">
                  Register
                </button>
              </div>

          </div>

          </form>
        </div>


        <div ng-show="loginState === 'forgot'">
          <div class="ui forgot-password form">
            <form ng-submit="sendResetEmail()">
              <div class="field">
                <label> Email</label>
                <input type="email" id='email' placeholder="foo@bar.edu" ng-model="email">
              </div>
              <div class="field">
                <button id="forgot-password" type="submit" class="fluid ui login button">
                  Send Reset Email
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="ui divider"></div>

        <div ng-show="loginState === 'login'">
          <button id="register" class="fluid ui register button" ng-click="setLoginState('register')">
            Register
          </button>
        </div>

        <div class="field" ng-show="loginState === 'register'">
          <button id="backReg" type="submit" class="fluid ui login button pa11y-click-login"
            ng-click="setLoginState('login')">
            Back
          </button>
        </div>
        <br>

        <div ng-show="loginState === 'login'" class="forgot">
          <a href="#" ng-click="setLoginState('forgot')">
            Forgot Password?
          </a>
        </div>

        <div ng-show="loginState === 'forgot'" class="forgot">
          <a href="#" ng-click="setLoginState('login')">
            {{regIsOpen ? 'Login or Register' : 'Login'}}
          </a>
        </div>


      </div>
    </div>

  </div>
</div>