<div id="admin" class="page">
  <div class="divided title">
    GOD MODE
  </div>

  <table
    class="ui celled selectable compact table">
    <tbody>
      <tr>
        <td ui-sref="app.admin.stats" ui-sref-active="active">Stats</td>
        <th ui-sref="app.admin.users" ui-sref-active="active">Users</th>
        <th ui-sref="app.admin.settings" ui-sref-active="active">Settings</th>
        <th ui-sref="app.admin.emails" ui-sref-active="active">Emails</th>
      </tr>
    </tbody>
  <table>
    
  <!-- View for admin panel content -->
  <ui-view></ui-view>

  <button ng-click="sendUpdateEmail()">test update email to myself</button>
  <br>
  <button ng-click="getDBAccessToken()">Fetch DB access token</button>
  <label>{{ dbAccessToken }} </label>
  <br>
</div>