<div id="admin" class="page">
  <div class="divided title">
    GOD MODE
  </div>

  <div class="ui three item menu">
    <a class="item" ui-sref="app.admin.stats" ui-sref-active="active">
      Stats
    </a>

    <a class="item" ui-sref="app.admin.users" ui-sref-active="active">
      Users
    </a>

    <a class="item" ui-sref="app.admin.settings" ui-sref-active="active">
      Settings
    </a>
  </div>
  <!-- View for admin panel content -->
  <ui-view></ui-view>

  <button ng-click="sendUpdateEmail()">test update email to myself</button>
  <br>
  <button ng-click="getDBAccessToken()">Fetch DB access token</button>
  <label>{{ dbAccessToken }} </label>
  <br>
</div>