h1 Password Reset Request
h2 Hi #{user.profile.firstName},
| Somebody (hopefully you!) has requested that your password be reset. If this was not you, feel free to disregard this email. This link will expire in one hour.
br
br
br
a.pink.button(href=actionUrl)
  | Reset Password