h1 Save the date!
h2 December 11th, 2022
h3 Hi #{user.profile.firstName},
h3 Thanks for signing up for our wedding shower!
| You're all set for now. We'll send you another email when the food options are ready!
br
br
br