| Save the date!
| December 11th, 2022
| Hi #{user.profile.firstName},
| Thanks for signing up for our wedding shower!
| You're all set for now. We'll send you another email when the food options are ready!