<div id="stats">

  <div
    class="ui green segment"
    ng-class="{'loading': loading}">
    <div class="ui header">
      Stats
    </div>
    <div class="content">
      <em> Last updated: {{fromNow(stats.lastUpdated)}}</em>
      <div class="ui list">
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total Users
            </strong> :
            {{stats.total}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total NonTest Users
            </strong> :
            {{stats.users}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Total Test Users
            </strong> :
            {{stats.testUsers}}
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Verified Users
            </strong> :
            {{stats.verified}} ({{stats.verified / stats.total * 100 | number: 1}}%)
          </div>
        </div>
        <div
          class="item">
          <i class="green circle check icon"></i>
          <div class="content">
            <strong>
            Dining Submitted Users
            </strong> :
            {{stats.submitted}} ({{stats.submitted / stats.total * 100 | number: 1}}%)
          </div>
        </div>
        <div class="item">
          <i class="circle red icon"></i>
          <div class="content">
            <strong>
              Declined
            </strong> :
              {{stats.declined}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="ui pink segment"
    ng-class="{'loading': loading}"
    ng-if="stats.dining">
    <div class="ui header">
      Dining
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Total users</strong>: {{stats.total}}
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Filet Mignon (R)</strong>: {{stats.dining.meatR}}
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Filet Mignon (W)</strong>: {{stats.dining.meatW}}
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Cod</strong>: {{stats.dining.fish}}
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Vegetarian</strong>: {{stats.dining.vegetarian}}
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>Kid</strong>: {{stats.dining.kid}}
        </div>
      </div>
    </div>
    <div class="ui list">
      <div class="item">
        <i class="users icon"></i>
        <div class="content">
          <strong>No Food</strong>: {{stats.dining.nofood}}
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui list">
    </div>
  </div>

</div>
