<div id="dashboard" class="page">
  <div class="divided title">
    Frequently Asked <br><br>Questions
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="small title">
          FAQ:
        </div>
        <br>
        <p><strong>What time does the event start?</strong></p>
        <p class="answer">Answer</p>
        <br>

        <p><strong>What time does the event end?</strong></p>
        <p class="answer">Answer</p>
        <br>

        <p><strong>Will there be Drinks?</strong></p>
        <p class="answer">Yes! It is open bar and paid for. You cant request shots but you can request drinks neat!</p>
        <br>

        <p><strong>What Should I Wear?</strong></p>
        <p class="answer">It is casual, but please dress nicely</p>
      </div>

    </div>
  </div>
</div>