<div id="unsubscribe">
  <div class="container">
    <div class="content">
      <div class="ui segment">

        <div class="ui small error message"
             ng-show="error">
          {{error}}
        </div>

        <div class="ui">
          Sorry we haven't finished setting this up yet.
          <br>
          All our emails are currently important emails for the event.
          <br>
          If there is a concern please reach out to either Mike(Masa) or Jen directly.
          <br>
          Thanks for understanding!
        </div>

      </div>
    </div>

  </div>
</div>