<div id="sidebar" class="sidebar" ng-class="{open: showSidebar}">
  <div ui-sref="app.dashboard" class="logo item">
    <img src="stylesheets/images/ohBaby.jpg">
  </div>

  <div ui-sref-active="active" ui-sref="app.dashboard" class="item">
    Dashboard
  </div>

  <div ui-sref-active="active" ui-sref="app.profile" class="item">
    Your Invitation
  </div>

  <div ui-sref-active="active" ui-sref="app.faq" class="item">
    FAQ
  </div>

  <div ng-show="currentUser.verified">
    <div ui-sref-active="active" ui-sref="app.application" ng-show="!currentUser.status.declined" class="item">
      Dining
    </div>
    <div ui-sref-active="active" ui-sref="app.confirmation"
      ng-show="!pastConfirmation && currentUser.status.admitted && !currentUser.status.declined" class="item">
      Confirmation
    </div>

    <div ui-sref-active="active" ui-sref="app.team" ng-show="!currentUser.status.declined" class="item">
      Team
    </div>

    <div ui-sref-active="active" ui-sref="app.admin.stats" class="item" ng-show="currentUser.admin">
      Admin
    </div>

    <div ui-sref-active="active" ui-sref="app.application" ng-show="currentUser.admin" class="item">
      [TODO: remove] Dining
    </div>

    <div ui-sref-active="active" ui-sref="app.confirmation" ng-show="currentUser.admin" class="item">
      [TODO: remove]Confirmation
    </div>

    <div ui-sref-active="active" ui-sref="app.todo" ng-show="currentUser.admin" class="item">
      [TODO: remove]TODO
    </div>
  </div>

  <div class="item" ng-click="logout()">
    Logout
  </div>

  <!-- <div class="note">
    {{ EVENT_INFO.NAME }}
  </div> -->

</div>

<div class="tab" ng-click="toggleSidebar()">
  <img id="sideBarTab" ng-show="!showSidebar" src="assets/images/ohBaby.jpg" />
  <span class="close" ng-show="showSidebar">&#x2715</span>
</div>