#application {

  .status {
    text-align: center;
    opacity: 80%;
  }
  #school .title {
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
  }
}

#application {
  .ui.segment {
    margin: 0;
  }

  .guest-select-container {
    font-size: 0;
  }

  .guest-select-button {
    font-size: 14px;
    height: 40px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: none;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .guest-select-button:hover {
    background-color: yellow;
  }
}