.table-display {
	width: 100%;
	height: 100%;
	background: blue;
	position: absolute;
}

.element {
	background: yellow;
	position: "absolute"
}

.userContainer {
	height: 200px;
	overflow: scroll;
    background: white;
}

.user {
	border-style: solid;
}

.tableTopClass {
	position: absolute;
	overflow: scroll;
	width: 100%;
	height: 100%;
}