<div id="dashboard" class="page">
  <div class="divided title dashTitle">
    Dashboard
  </div>

  <div class="ui stackable centered page grid">
    <div class="column">
      <div class="ui status segment">
        <div class="divided small title">
          Thank you for Registering!
        </div>
        <br>
        <br>
        <div class="divided small title">
          Date
        </div>
        <div class="small title">
          Sunday, December 11th
        </div>
        <br>
        <br>
        <div class="divided small title">
          Venue
        </div>
        <div class="small title">
          Casa Real at Ruby Hill Winery
        </div>
        <div class="small title">
          410 Vineyard Ave, Pleasanton, CA 94566
        </div>
        <br>

        <div class="state" ng-class="user.status.name">
          {{user.status.name}}
        </div>

        <div class="declined state" ng-if="dashState('admittedAndCannotConfirm')">
          Expired Admission
        </div>

        <div class="ui divider"></div>

        <div ng-if="user.profile.name.length > 0">
          <p>
            <strong>
              Welcome back, {{user.profile.name}}!
            </strong>
          </p>
          <p>
          </p>
        </div>

        <div ng-if="dashState('pending')" class="description">
          <p>
            Next Step:
          </p>
          <p>
            <strong>
              Waiting for registration approval!
            </strong>
          </p>
          <p>
            {{ DASHBOARD.PENDING }}
          </p>
          <p>
            In the meantime feel free to do the following:
          </p>
          <p>
            - Adjust Invitation information <a ui-sref-active="active" ui-sref="app.profile">here</a>
          </p>
          <p>
            - Check our <a ui-sref-active="active" ui-sref="app.faq">FAQ</a> to learn more about what you can expect and submit any questions for us!
          </p>
        </div>
        <!-- 
        <div ng-class="settings.timeClose"
          ng-if="!dashState('admittedAndCanConfirm') || !dashState('admittedAndCannotConfirm') || !dashState('confirmed') || !dashState('declined')">
          <strong>
            Registration Deadline:
          </strong>
          {{ timeClose }}
        </div> -->

        <div ng-if="dashState('openAndIncomplete')" class="description">
          <p>
            <strong>
              {{ DASHBOARD.INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.INCOMPLETE }}
          </p>

          <div class="ui purple button" ui-sref="app.confirmation">
            Select Dining Option!
          </div>

          <br>

          <div class="ui purple button" ui-sref="app.covid">
            Verify Covid Safety
          </div>
        </div>

<!--         <div ng-if="dashState('openAndSubmitted')" class="description">
          <p>
            <strong>
              {{ DASHBOARD.SUBMITTED_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.SUBMITTED }}
          </p>

        </div> -->

        <div ng-if="dashState('closedAndIncomplete')">
          <p>
            <strong>
              {{ DASHBOARD.CLOSED_AND_INCOMPLETE_TITLE }}
            </strong>
          </p>
          <p>
            {{ DASHBOARD.CLOSED_AND_INCOMPLETE }}
          </p>
        </div>

        <div ng-if="dashState('closedAndSubmitted')" class="description">

          <div class="markdown" ng-bind-html="waitlistText">
          </div>

          <div class="ui purple button" ui-sref="app.application">
            View your application
          </div>

          <div class="ui pink button" ng-show="user.teamCode" ui-sref="app.team">
            View your Team
          </div>
        </div>

        <div class="description" ng-if="dashState('admittedAndCanConfirm')">

          <div class="markdown">
            <h4>
              {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM_TITLE }}
            </h4>
          </div>

          <div class="markdown" ng-bind-html="acceptanceText">
          </div>

          <div class="markdown">
            <h4>
              {{ DASHBOARD.ADMITTED_AND_CAN_CONFIRM }}
            </h4>
          </div>

          <div class="ui purple button" ui-sref="app.confirmation">
            Confirm your spot
          </div>

          <div class="ui red button" ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div class="description" ng-if="dashState('admittedAndCannotConfirm')">

          <div class="markdown">
            <h4>
              {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM_TITLE }}
            </h4>

            <p>
              {{ DASHBOARD.ADMITTED_AND_CANNOT_CONFIRM }}
            </p>
          </div>

        </div>

        <div class="description" ng-if="dashState('confirmed')">

          <div ng-show="!pastConfirmation" class="markdown">
            <h4>
              {{ DASHBOARD.CONFIRMED_NOT_PAST_TITLE }}
            </h4>
          </div>

          <div class="markdown" ng-bind-html="confirmationText">
          </div>

          <div class="ui purple button" ui-sref="app.confirmation">
            {{pastConfirmation ? 'View' : 'Edit'}} your confirmation information
          </div>

          <div class="ui red button" ng-click="declineAdmission()">
            Sorry, I can't make it
          </div>

        </div>

        <div class="description" ng-if="dashState('declined')">

          <p>
            {{ DASHBOARD.DECLINED }}
          </p>
        </div>

        <div ng-if="!dashState('declined')">
          <div class="addGuestButton">
            <button type="button" class="declineInvite fluid ui red button" ng-click="declineInvite($event)">Sorry, I can't make the event</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>